* {
    margin: 0;
    padding: 0;
    border-radius: border-box;
}
body{
    font-family: "Ubuntu", serif;
}
/* navbar section */
.navbar{
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    list-style: none;
    display: inline-block;
}
nav ul li{
    display: inline-block;
    padding-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header{
    background:radial-gradient(#fff);
}
.header .row{
    margin-top:10px;
}

/* cart item details */
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* .cart_page{
    margin: 80px;
} */
table{
    width: 100%;
    border-collapse: collapse;
}

.cart_info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #159197;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 30px;
    height: 20px;
    padding: 3px;
}
.product_info a{
    color: #159197;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}
.cart_info img{
    height: 100px;
    width: 100px;
    margin-right: 20px;
}
.product_info{
    font-weight: 500;
    color: #555;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #159197;
    width: 100%;
    max-width: 350px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
/* Footer */
.footer{
    background: #0a486c;
    color: #8f8f8f;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer_col-2{
    padding-bottom: 30px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color:#fff;
    margin-bottom: 20px;
}
.footer_col-1{
    flex-basis: 30%;
}
.footer_col-2 img{
    width: 125px;
    margin-left: 100px;
}
.footer-3, .footer-4{
    flex-basis: 12%;
}
ul{
    list-style: none;
    text-align: center;
}
.app_logo{
    margin-top: 20px;
}
.app_logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 2px;
    margin: 20px;
}
.copyright{
    text-align: center;
}
.menu_icon{
    width: 26px;
    margin-top: 3px;
    margin-left: 10px;
    display: none;
}